/* GRID LAYOUT */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  /*grid-auto-rows: minmax(100px, auto);*/
}

.three-five {
  grid-column: 3 / 5;
  /*grid-row: 2 / 4;*/
}

.five-nine {
  grid-column: 5 / 9;
  /*grid-row: 3 / 9;*/
}

.four-ten {
  grid-column: 4 / 10;
}