#map-container {
  height: calc(100vh - 80px);
  width: 100%;
  margin: 0 auto 60px auto;
}

#map-container .mapboxgl-map {
  height: 100%;
  width: 100%;
}

#control-panel {
  z-index: 20;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 800px;
  width: 25%;
  background-color: rgba(35, 55, 75, 0.9);
}