/*
nav {
  width: 25%;
  position: fixed;
}
*/

nav {
  margin-top: 10vh;
}
nav .logout-btn,
nav a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25em; /* 20px */
  padding-bottom: 10px;
}
nav .logout-btn:hover,
nav a:hover {
  font-style: italic;
  text-decoration: none;
}

.active-link {
  text-decoration: underline;
  font-weight: 700;
}

.nonactive-link {
  text-decoration: none;
}

/* NAV FULLSCREEN */
#nav-fullscreen {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  text-align: right;
}
#nav-fullscreen .logout-btn,
#nav-fullscreen a {
  display: inline-block;
  margin-left: 12px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-size: 1.15em;
}
#nav-fullscreen .logout-btn:hover,
#nav-fullscreen a:hover {
  color: #000000;
  background-color: #ffffff;
  font-style:normal;
  font-weight: 450;
}
